<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247397214279-bamih9jl402i2dgdcbqdas3vac6dske0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247397214279-bamih9jl402i2dgdcbqdas3vac6dske0</string>
	<key>API_KEY</key>
	<string>AIzaSyCDl9sRRfNoWY7BseLTvCI_jlD_dOlkE-s</string>
	<key>GCM_SENDER_ID</key>
	<string>247397214279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.locationTracking</string>
	<key>PROJECT_ID</key>
	<string>lucus-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>lucus-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247397214279:ios:9b47bc104c9eb3f74d2962</string>
</dict>
</plist>